<launch>

  <node pkg="unitree_lidar_ros" type="unitree_lidar_ros_node"  name="unitree_lidar_ros_node" respawn="true">
    <rosparam command="load" file="$(find unitree_lidar_ros)/config/config.yaml"/>
  </node>
    <node pkg="unitree_lidar_ros" type="newbuffer_fin.py" name="newbuffer_fin"/>
    <node pkg="unitree_lidar_ros" type="lin_re3.py" name="lin_re2"/>
</launch>
