<launch>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node1" output="screen">
      <param name="port" value="/dev/ttyACM0"/>
      <param name="baud" value="57600"/>
    </node>
    

     
    <!-- encoder 기반 odometry publish -->
    <node pkg="practice" type="publisher.py" name="publisher" output="screen">
    </node>


    <!-- IMU -->
    <include file="$(find practice)/launch/imu2.launch" />

 
    <!-- Odom-IMU Extended Kalman Filter-->
    <!-- EKF node -->    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find practice)/config/ekf_localization0.yaml"/>
        <param name = "initial_state" value = "[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"/>
        <remap from="odometry/filtered" to="odom" />
    </node>


    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find caddybot_urdf)/urdf/caddyboturdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>

    
